<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.cdnfonts.com/css/sf-pro-display" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/styles.css">

    <title>Michiel's Website Home</title>
</head>
<body>
    <div class="header-color">
        <div class="header">
            <div class="mn-logo-img-div"><a href="/"><img src="/images/MN logo.png" alt="mn-logo"></a></div>
            <div class="header-text">
                <h2 class="header-link-text"><a href="/">Home</a></h2>
                <h2 class="header-link-text"><a href="/about-me">Over mij</a></h2>
                <h2 class="header-link-text"><a href="/contact">Contact</a></h2>
            </div>
        </div>
    </div>

    <div class="mn-big-logo-flex-container">
        <div class="mn-background-circle">
            <div><img src="/images/MN logo.png" alt="mn-logo"></div>
        </div>
    </div>

    <div class="info-text-flex-container">
        <h2>Hallo,</h2>
        <p>Mijn naam is Michiel Nijenhuis en ik ben een hobby developer. Ik heb veel interesse in code en programmeren.</p>
    </div>

    <div class="showing-img-flex-container">
        <div class="sketchup-table-container img-container">
            <div><img class="showing-img" src="/images/Monitor-stand-foto.JPG" alt="Monitor stand photo"></div>
            <p>Soms maak ik ook wel 3D modellen.</p>
        </div>

        <div class="kloezeman-logo-container img-container">
            <div><img class="showing-img" src="/images/N.Kloezeman logo.png" alt="Niels Kloezeman logo"></div>
            <p>Dit logo heb ik gemaakt voor iemand!</p>
        </div>
    </div>

    <div class="footer">
        <div class="contact-text-container">
            <p>Wil je contact opnemen voor een bepaalde reden? Dat kan!</p>
            <a href="/contact"><button>Neem contact op</button></a>
        </div>
    </div>
</body>
</html>